{
	"presets": [
		["env", {
			"targets": {
				//"node": "current"
				"browsers": ["last 2 versions"]
			},
			"modules": false
		}]
	],
}
  
/*
{
	"presets": [
		["env",	{
			"targets": {
				"browsers": ["last 2 versions", "safari >= 7"]
			}
		}]
	]
}
*/